* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4e4ba;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 400px;
}

.container h2 {
    text-align: center;
}

form {
    margin-top: 2rem;
}

form select,
form button,
form input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    height: 3rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    width: 7rem;
    padding: 0.3rem;
}

.select-container img {
    width: 2rem;
    margin-right: 0.5rem;
}

.select-container select {
    width: auto;
    font-size: 1rem;
}

.msg {
    margin: 2rem 0;
    text-align: center;
    font-weight: bold;
}

form button {
    height: 3rem;
    background: #af4d98;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}